* {
    box-sizing: border-box;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.f1 {
    background-color: lightblue;
    padding: 18px;
    text-align: center;
}
.menu {
    float: left;
    width: 20%;
    text-align: center;
}
.menu a {
    background-color: lightcoral;
    padding: 8px;
    margin-top: 7px;
    width: 100%;
    color: black;
    display: block;
}
.main {
    float: left;
    width: 60%;
    padding:0 20px;
}

.right {
    background-color: lightgreen;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;

}

.footer {
    background-color: lightgrey;
    padding: 28px;
    text-align: center;
    margin-top: 7px;
}
@media only screen and (max-width: 620px) {
    .menu, .main, .right, .footer {
        width: 100%;
    }
}